:root{
    --nav-height : 72px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #080914;
}

/*nav*/
.navbar{
    width: 100%;
    height: 45px;
    background-color: #080B10;
    border-bottom: 2px solid #1B1E26;
}
.nav-container{
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%; 
    max-width: 100%;
    max-height: var(--nav-height);
    justify-content: space-between;
    display: flex;
}
.nav-container a{
    text-decoration: none;
}
.nav-logo{
    text-align: justify;
    color: #9B7CFF;
    text-indent: 32px;
}
.nav-link{
    display: flex;
    gap: 15px;
    list-style: none;
    flex-wrap: wrap;
    padding-right: 32px;
}
.nav-link a{
    text-decoration: none;
    color: #E5E7EB;
}
.nav-link a:hover{
    color: #a792eb;
}

/*Home*/
.home {
    min-height: calc(100vh - var(--nav-height));
    background-image: url(image/background-home.png);
    background-size: cover;
    background-position: center;
    color: #F5F5F7;
}
.home-container{
    align-items: center;
    width: 90%;
    max-width: 1200px;
    min-height: calc(100vh - 45px);
    display: flex;
    margin: 0 auto;
}
.home-subtitle{
    color: #9B7CFF;
    font-size: 24px;
    margin-bottom: 20px;
}
.home-container h1{
    color: #F5F5F7;
    font-size: 50;
    margin: 0;
}
.home-container h2 {
    color: #9B7CFF;
    font-size: 50px;
    margin: 0 0 25px;
}
.home-button {
    align-items: center;
    display: flex;
    padding: 20px 0px;
    gap: 10px;
}
.home-button a{
    text-decoration: none;
    color:#E5E7EB;
}
.button1 {
    background-color: #7466EA;
    padding: 12px;
    border-radius: 20px;
}
.button2 {
    border: 1px solid #E5E7EB;
    border-radius: 20px;
    padding: 12px;
}
.home-description{
    color: #B8BBC4;
    font-size: 20px;
    line-height: 1.6;
}
.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.image-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.availability {
    position: absolute;
    right: -40px;
    bottom: 30px;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 20px;

    background: #11151C;
    border: 1px solid #2A2F3A;
    border-radius: 30px;

    color: #E5E7EB;
}
/*About*/
.about {
    color: #F5F5F7;
}
.about-container{
    background:   #080912;
    border: 1px solid #8b7bbd;
    border-radius: 28px;
    width: 85%;
    margin: 50px auto;
    padding: 20px;


   box-shadow: 0 0 20px rgba(124, 58, 237, 0.25);
}
.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 50px;
}
.about-item {
    display: flex;
    align-items: center;
    gap: 18px;
}